
body{
    background-color: #333;
}

.b{
    background-color: blueviolet;
}
.Vu{
    display: flex;
}
.p{
    margin-left: 20%;
}
#submit{
    margin: 20px 35px;
    color: #318ce7;
    background-color: white;
    width: 25%;
    font-size: 17px;
    border-radius: 25px;
    border: 1px solid white;
}
#submit:hover{
    color: #fff;
    background-color: blueviolet;
}
#rest{
    margin: 20px 35px;
    color: blueviolet;
    background-color: white;
    width: 25%;
    font-size: 17px;
    border-radius: 25px;
    border: 1px solid white;
}
#rest:hover{
    color: #fff;
    background-color: blueviolet;
}